@font-face {
    font-family: 'BigSoftie';
    src: url('fonts/BigSoftie-Fat.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

body {
    background: #062046;
    color: white;
    padding-top: 80px;
}

header {
    display: flex;
    background: #008cff;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
}

.menu-item {
    position: relative;
    margin: 0 15px;
}

.top {
    font-family: 'BigSoftie';
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    text-decoration: none;
    text-shadow: 2px 2px black,  
                 2px 2px black,
                 2px 2px black,
                 2px 2px black;
}

.dropdown {
    font-family: 'BigSoftie';
    display: none;
    font-size: 19px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #008cff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid black;
    width: 330px;
    text-shadow: 2px 2px black,  
                 2px 2px black,
                 2px 2px black,
                 2px 2px black;
}

.dropdown a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.dropdown a:hover {
    background-color: #4254ad;
}

.menu-item:hover .dropdown {
    display: block;
}

.logo {
    width: 50pt;
    height: 50pt;
}

.title {
    height: 42px;
    width: 224,25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dark-mode {
    background: #062046;
    color: white;
}

.light-mode {
    background: #FFFFFF;
    color: #000;
}

.toggle_theme {
    position: absolute;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'BigSoftie';
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    background-color: #008cff;
    color: white;
    text-shadow: 2px 2px black,  
                 2px 2px black,
                 2px 2px black,
                 2px 2px black;
}

.unit-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(299px, 1fr));
    justify-items: center;
    grid-gap: 0px;
    margin-top: 20px;
}

.unit {
    transition: transform 0.3s ease;
}

.unit:hover {
    transform: scale(1.2);
}

.cameras, .speakers, .tvs, .drills, .clocks, .other, .scientist-event, .scrary-event, .turkey-event, .new-years-event, .christmas-event, .new-year-event, .valentines-event, .saint-patricks-day-event, .easter-event, .april-fools-day-event, .rewind-event, .roblox-classic-event {
    font-family: 'BigSoftie';
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
